.vscode
/minecraft/.mixin.out
/minecraft/backup
/minecraft/blueprints
/minecraft/crash-reports
/minecraft/downloads
/minecraft/dynamic-data-pack-cache
/minecraft/dynamic-resource-pack-cache
/minecraft/ESM
/minecraft/fancymenu_data
/minecraft/journeymap
/minecraft/little_big_redstone
/minecraft/logs
/minecraft/moddata
/minecraft/moonlight-global-datapacks
/minecraft/patchouli_books
/minecraft/schematics
/minecraft/screenshots
/minecraft/server-resource-packs
/minecraft/simplebackups
/minecraft/imgui.ini
/minecraft/observable_announce
/minecraft/options.txt
/minecraft/patchouli_data.json
/minecraft/ponders_watched.json
/minecraft/usercache.json
/minecraft/usernamecache.json
/minecraft/WaypointData.dat
/minecraft/local/kubejs/export
/minecraft/local/kubejs/exported_packs
/minecraft/local/kubejs/local_server_scripts
/minecraft/local/kubejs/local_startup_scripts
/minecraft/local/crash_assistant
/minecraft/local/ftbchunks
/minecraft/local/kubejstweaks
/minecraft/saves
/minecraft/TrashSlotSaveState.json
/minecraft/config/iris.properties
/minecraft/config/incontrol
/minecraft/config/ars_nouveau/search_index
/minecraft/config/crash_assistant
/minecraft/config/ftbchunks-client.snbt
/minecraft/config/*.toml
/minecraft/config/*.bak
/minecraft/config/chunky
/minecraft/mods/.index
/minecraft/XaeroWaypoints*
/minecraft.qmenu_opened.marker
/minecraft/command_history.txt
/minecraft/xaero
/flame/overrides.txt
/dist
/minecraft/mods/chunky*
/minecraft/Distant_Horizons_server_data
/minecraft/shaderpacks
/minecraft/config/vivecraft-client-config.json
/minecraft/mods/DistantHorizons*
/minecraft/mods/.connector
/minecraft/.voxy
/minecraft/debug/
/minecraft/config/fancymenu/user_variables*
/minecraft/config/iris.properties
/minecraft/config/packetfixer.properties
/minecraft/config/fabric/indigo-renderer.properties

# --- Server-Generated Files (Keep these safe) ---
/minecraft/eula.txt
/minecraft/server.properties
/minecraft/server.env
/minecraft/whitelist.json
/minecraft/ops.json
/minecraft/banned-ips.json
/minecraft/banned-players.json
/minecraft/user_jvm_args.txt
/minecraft/libraries/
/minecraft/neoforge-*-installer.jar*
/minecraft/run.sh
/minecraft/run.bat
/minecraft/logs/
/minecraft/crash-reports/
/minecraft/backups/
/minecraft/world/
/minecraft/tacz_backup/
/minecraft/.sable/
update.sh
/minecraft/.gunsmithlib/
/minecraft/config/craftingtweaks/
/minecraft/config/jade/server-plugin-overrides.json
/minecraft/config/market_categories/
/minecraft/config/market_presets/
/minecraft/config/openloader/packs/
/minecraft/config/spark/activity.json
/minecraft/config/yes_steve_model/auth/
/minecraft/config/yes_steve_model/custom/
/minecraft/config/yes_steve_model/export/
/minecraft/server_banlist_config.json
/minecraft/command_history.txt
/minecraft/auto_restart
/minecraft/config/yes_steve_model/cache
/minecraft/config/jei/world/server
