.vscode
/minecraft/.mixin.out
/minecraft/backup
/minecraft/blueprints
/minecraft/crash-reports
/minecraft/downloads
/minecraft/dynamic-data-pack-cache
/minecraft/dynamic-resource-pack-cache
/minecraft/ESM
/minecraft/fancymenu_data
/minecraft/journeymap
/minecraft/little_big_redstone
/minecraft/logs
/minecraft/moddata
/minecraft/moonlight-global-datapacks
/minecraft/patchouli_books
/minecraft/schematics
/minecraft/screenshots
/minecraft/server-resource-packs
/minecraft/simplebackups
/minecraft/imgui.ini
/minecraft/observable_announce
/minecraft/options.txt
/minecraft/patchouli_data.json
/minecraft/ponders_watched.json
/minecraft/usercache.json
/minecraft/usernamecache.json
/minecraft/WaypointData.dat
/minecraft/local/kubejs/export
/minecraft/local/kubejs/exported_packs
/minecraft/local/kubejs/local_server_scripts
/minecraft/local/kubejs/local_startup_scripts
/minecraft/local/crash_assistant
/minecraft/local/ftbchunks
/minecraft/local/kubejstweaks
/minecraft/saves
/minecraft/TrashSlotSaveState.json
/instance.cfg
/minecraft/config/iris.properties
/minecraft/config/incontrol
/minecraft/config/ars_nouveau/search_index
/minecraft/config/crash_assistant
/flame/overrides.txt
